<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="styleSheet"  href="style.css">
</head>
<body>
<div class="header">
    <div class="logo">logo</div>
    <div class="tools">Tools</div>
    <div class="search">search</div>
</div>

<div style="clear: both"></div>
<div class="box" style="background: yellow">
    <div class="images">images</div>
    <div class="title">title</div>
</div>
<div class="nav">Nav</div>
<div class="page">page</div>

</body>
</html>